* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
header {
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url(../pics/header-bkg.jpg);
  background-size: cover;
}
.brand-font {
  font-size: 60px;
  text-align: center;
  color: white;
  margin-top: 145px;
  padding: 5px;
  font-weight: bold;
}
.land-text {
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  width: 100%;
}
nav {
  background-color: rgba(99, 78, 14, 0.51);
  position: absolute;
  top: 30px;
  right: 2%;
  border-radius: 15px;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.49);
  border-style: solid;
  padding: 0px 16px;
  width: 320px;
  height: 38px;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  width: 100%;
  max-height: 100%;
  text-decoration: inherit;
  white-space: pre-line;
  word-wrap: break-word;
  vertical-align: middle;
  overflow: hidden;
  line-height: normal;
  justify-content: space-around;
  list-style-type: none;
}
nav ul li {
  font-size: 20px;
  color: white;
}
.header-input-div {
  background-color: rgba(99, 78, 14, 0.51);
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 5px 15px;
  width: 80%;
  max-width: 500px;
  position: absolute;
  height: 55px;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
}
#header-search {
  background-color: transparent;
  border-color: rgb(140, 140, 140);
  border-width: 0px;
  color: rgb(255, 255, 255);
  padding: 0px 12px;
  text-align: left;
  border-radius: 4px;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  border-style: solid;
  width: 100%;
  height: 100%;
  outline: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.label-card {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  height: 140px;
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.label-card h3 {
  font-size: 32px;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(66, 66, 66);
}
.label-card img {
  max-width: 140px;
  padding: 2px 5px;
}
.best-places-pic {
  transform: scale(1.3);
}
footer {
  height: 150px;
  background-color: black;
}
.main-sec:not(.rev) {
  width: 90%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.rev {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* gap: 1rem;
  margin-bottom: 15px; */
}
.sec-text:hover {
  box-shadow: 5px 0px 20px rgba(140, 140, 140, 0.5);
}

.main-sec img {
  width: 100%;
  height: 100%;
}
.img-container {
  max-height: 390px;
  overflow: hidden;
}
.sec-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(212, 208, 199, 0.31);
  padding: 8px;
}
.sec-text h3 {
  font-size: 32px;
  padding-bottom: 10px;
  color: rgb(33, 37, 41);
  font-style: normal;
  font-weight: normal;
  line-height: 48px;
  --paragraph: 0px;
  text-align: center;
  text-transform: none;
}
.sec-text p {
  font-size: 25px;
  color: rgb(66, 66, 66);
  font-feature-settings: "liga" 0;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 5px;
  line-height: 32px;
  --paragraph: 0px;
  text-align: center;
}
.pic-slider {
  width: 90%;
  padding: 23px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(212, 208, 199, 0.31);
  border-radius: 15px;
  margin-bottom: 15px;
}
.slider-div img {
  width: 100%;
  height: 100%;
}
.wrapper-slider {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.slider-div {
  height: 270px;
  width: 230px;
  margin: 0 10px;
  display: inline-block;
}
@media only screen and (max-width: 550px) {
  nav {
    right: 50%;
    transform: translateX(50%);
  }
  .label-card {
    height: 125px;
    transform: scale(0.9);

    width: 100%;
  }
  .header-input-div {
    height: 50px;
  }
  .main-sec:not(.rev) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    width: 100%;
    transform: scale(0.9);
  }
  .rev {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    width: 100%;
    transform: scale(0.9);
  }

  .img-container {
    height: 390px;
  }
  .pic-slider {
    width: 100%;
    transform: scale(0.9);
  }
  .best-places-pic {
    transform: scale(1);
  }
}
